# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Local objects
bsp/Microchip/uart2
bsp/Microchip/usb
bsp/Microchip/spi1
middleware/keyboard
 